<div class="container">
  <div class="index-heading">
    <h1>Cocktails</h1>
    <div>
      <%= link_to new_cocktail_path, class: 'btn btn-primary' do %>
        <i class="fas fa-plus"></i> Add Cocktail
      <% end %>
    </div>
  </div>

  <div class="cocktails-grid">
      <% @cocktails.each do |cocktail| %>
        <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>)">
          <div>
            <%= link_to cocktail.name, cocktail%>
          </div>

          <div>
            <%= link_to new_cocktail_dose_path(cocktail) do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
