<div class="container">
  <h1>New Cocktail</h1>

  <%= render 'form', cocktail: @cocktail %>

  <%= link_to cocktails_path, class: 'btn btn-primary' do %>
    <i class="fas fa-undo-alt"></i> Back
  <% end %>
</div>
