<div class="container">
  <h1>New Dose</h1>

  <%= render 'form', dose: @dose %>

  <%= link_to cocktail_path(@cocktail), class: 'btn btn-primary' do %>
    <i class="fas fa-undo-alt"></i> Back
  <% end %>
</div>
