// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-heading {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  margin-bottom: 10px;
  div {
    margin-bottom: 10px;
  }
}
